<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Oswald&display=swap" rel="stylesheet">
</head>
<header>
    <nav>
        <ul>
            <li><a href="welcome">Home</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="container">
        <h1>Acerca de Nuestra Aplicación del Tiempo</h1>
        <p>Bienvenido a Weather APP, tu fuente confiable para obtener información meteorológica precisa
            y actualizada en tiempo real. En nuestro constante esfuerzo por mantenerte informado sobre las
            condiciones climáticas, hemos creado esta aplicación con pasión y dedicación.</p>
        <br>
        <p>¡Disfruta de la aplicación y de un día seguro y agradable!</p>
        <br>
        <p>Equipo de Weather APP</p>
        <p>Aldo Becerra - FrontEnd/BackEnd</p>
        <p>Datos tecnicos:</p>
        <p>Desarrollado en <b>Java</b> con <b>Springboot</b> y el FrontEnd con HTML, CSS y JavaScript</p>
    </div>
</body>
</html>